

.centered { margin-left:auto; margin-right: auto; }
.textRight { text-align: right; }
.maxWidth { max-width: 1024px; }
.insetBorder { border: 3px inset DarkGray; }

body { padding-top: 26px; background-image: url('../images/graph.png') }
header { border: 3px outset silver; margin-bottom: 27px;}
header img { }
header .page-title { float:right; padding-right: 1em; font-size:1.5em; }
button { width: 150px; font-weight:normal; font-size: 70% !important; }

.pure-table, .pure-form { margin: auto; width: 100%; max-width: 1024px; }
.pure-form { background-color: LightGray; }

.contact-details { width: 100%; }
.contact-details tr td { background-color: inherit !important; }
.full-name { width: 100%; }
.contact-details-container td { display: none; }
.search-bar { text-align: left; }



.flash {
	margin-top: 10px;
	margin-bottom: 10px;
	padding:12px; 
}

.flash-no-message {
	display: none !important;
}

.flash-info {
    color: #00529B;
    background-color: #BDE5F8;
}
.flash-success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.flash-warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.flash-error {
    color: #D8000C;
    background-color: #FFBABA;
}

.flash i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

.flash ul {
	
	margin-left: 3em;
	
}

.flash-closer {
	margin:10px;
	float:right;
	font-size:.7em !important;
	vertical-align:top;
	font-weight:normal;
	
}

