

<cfinclude template="_header.cfm">
<cfinclude template="_footer.cfm">


<cfoutput>
	#request.v.header#
	#request.v.response#
	#request.v.footer#
</cfoutput>


<!---
<div style="margin-top: 200px">
	<p><cfdump var="#application#" label="APPLICATION SCOPE" abort="false" expand="true" metainfo="true" showUDfs="true" /></p>
	<p><cfdump var="#session#" 		label="SESSION SCOPE"			abort="false" expand="true" metainfo="true" showUDfs="true" /></p>
	<p><cfdump var="#request#" 		label="REQUEST SCOPE"			abort="false" expand="true" metainfo="true" showUDfs="true" /></p>
</div>
<cfset ApplicationStop()>
<cfset SessionInvalidate()>
--->

